
.root {
    -fx-background-color: #f6f1f5;
    -fx-font-family: "Segoe UI";
}

.main-card {
    -fx-background-color: white;
    -fx-background-radius: 30;

    -fx-padding: 35 45 35 45;

    -fx-effect: dropshadow(
        gaussian,
        rgba(90,60,90,0.12),
        35,
        0.15,
        0,
        10
    );
}

.title {
    -fx-font-size: 34px;
    -fx-font-weight: bold;
    -fx-text-fill: #6d4b61;
}

.subtitle {
    -fx-font-size: 17px;
    -fx-text-fill: #9b9098;
}

.version {
    -fx-font-size: 8px;
    -fx-text-fill: #baaeb7;
}


.diarybuttons {
        -fx-background-color: #f5d8f1;

    -fx-background-radius: 30;

    -fx-text-fill: #6d4763;

    -fx-font-size: 15px;

    -fx-padding: 10 24;

    -fx-cursor: hand;
}
.yumebuttons {

    -fx-background-color: #ddb0d8;

    -fx-background-radius: 18;

    -fx-text-fill: #5a3952;

    -fx-font-size: 15px;

    -fx-padding: 10 24;

    -fx-cursor: hand;
}

.yumebuttons:hover{

    -fx-background-color:#e7c0e3;
}



.diary-date {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #7d5a71;
}

.diary-title {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #c9b0c3 transparent;
    -fx-border-width: 0 0 2 0;

    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #6e3f53;

    -fx-prompt-text-fill: #b89cad;
}

.diary-area{

    -fx-background-color:transparent;

    -fx-control-inner-background:transparent;

    -fx-border-color:transparent;

    -fx-font-size:18px;

    -fx-font-family:"Georgia";

    -fx-text-fill:#403437;
}

.diary-page {
    -fx-effect: dropshadow(
        gaussian,
        rgba(0,0,0,0.15),
        25,
        0,
        0,
        8
    );
}

.diary-header {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-text-fill: #5c3b4b;
}

.empty-diary {
    -fx-font-size: 22px;
    -fx-text-fill: #777777;
}

.list-view {
    -fx-background-radius: 12;
}

.text-area {
    -fx-font-size: 15px;
}

.entry-display {
    -fx-background-color: white;
    -fx-control-inner-background: white;
    -fx-border-color: #d8c7d5;
    -fx-border-radius: 12;
    -fx-background-radius: 12;

    -fx-text-fill: #403437;

    -fx-font-size: 16px;
    -fx-font-family: "Georgia";
}

.entry-display .content {
    -fx-background-color: white;
}

.entry-display .viewport {
    -fx-background-color: white;
}